h1,
h2,
h3,
h4,
h5,
h6,
p,
li,
a {
    font-family: 'Antique Olive Std', sans-serif;
    color: rgb(255, 255, 255);
    text-shadow: rgba(0, 0, 0, 0.2) 3.2px 3.2px 3.2px;
}

h1 {
    margin-top: 0;
}

// a {
//     color: yellow;
//     &:hover,
//     &:focus {
//         color: rgb(255, 255, 125);
//     }
// }

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}